{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", {"allow": ["_id"] }],
    "quotes": "off",
    "quote-props": "off",
    "eol-last": "off",
    "linebreak-style": "off",
    "no-console": "off",
    "object-curly-newline":"off",
    "func-names":"off",
    "consistent-return":"off",
    "arrow-body-style":"off"
  }
}